<?xml version="1.0"?>
<launch>
    <arg 
    name="serial_number_chest" 
    default="242222071812"/>

    <group ns="/chest_cam">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg
            name="serial_no"
            value="$(arg serial_number_chest)"/>

            <!-- <arg 
            name="color_width" 
            value="1920"/>

            <arg
            name="color_height" 
            value="1080"/> -->

            <arg name="depth_width"         default="640"/>
            <arg name="depth_height"        default="480"/>
            <arg name="enable_depth"        default="true"/>

            <arg name="infra_width"         default="640"/>
            <arg name="infra_height"        default="480"/>
            <arg name="enable_infra1"       default="true"/>
            <arg name="enable_infra2"       default="true"/>

            <arg name="color_width"         default="640"/>
            <arg name="color_height"        default="480"/>
            <arg name="enable_color"        default="true"/>

            <arg name="fisheye_fps"         default="30"/>
            <arg name="depth_fps"           default="30"/>
            <arg name="infra_fps"           default="30"/>
            <arg name="color_fps"           default="30"/>
            <arg name="gyro_fps"            default="400"/>
            <arg name="accel_fps"           default="250"/>
            <arg name="enable_gyro"         default="true"/>
            <arg name="enable_accel"        default="true"/>

            <arg name="enable_pointcloud"   default="false"/>
            <arg name="enable_sync"         default="true"/>
            <arg name="align_depth"         default="true"/>

        </include>
    </group>

    <include file="$(find ros_tcp_endpoint)/launch/endpoint_lh_rh.launch" >
    </include>

</launch>