<?xml version="1.0"?>
<launch>

    <arg 
    name="task" 
    default="study"/>

    <node 
    pkg="holo_project" 
    type="object_tracker.py" 
    name="object_tracker" 
    output="screen">
    </node>

    <node 
    pkg="holo_project" 
    type="remote_interface.py" 
    name="remote_interface" 
    output="screen">
    </node>

    <node 
    pkg="holo_project" 
    type="task_manager.py" 
    name="task_manager" 
    output="screen">
        <param 
        name="task" 
        value="$(arg task)"/>
    </node>

</launch>