<?xml version="1.0"?>
<launch>
    <node 
    pkg="holo_project" 
    type="object_tracker.py" 
    name="interface" 
    output="screen">
    </node>

    <node 
    pkg="holo_project" 
    type="rh_interface_image.py" 
    name="rh_interface" 
    output="screen">
    </node>

    <node 
    pkg="holo_project" 
    type="read_from_csv.py" 
    name="csv_reader_node" 
    output="screen">
    </node>

</launch>